/* ---------start body---------- */
body{
    background-color: #374450;
    text-align: center;
    font-family:sans-serif ;
    margin: 0px;
}
/* -------------end body----------- */
/* ---------start header---------- */
header{
    color: white;
    margin: 0px 400px;
}
h1{
    font-size: 40px;
}
/* ---------end header---------- */

/* ---------start section of cards---------- */
section{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 250px;
}
.blue{
    background-color: #478ac9;
}
.red{
    background-color:#db545a;
}
.yellow{
    background-color:#f1c50e;
}
.green{
    background-color:#2cccc4;
}
.card{
    height: 320px;
    width: 200px;
    margin-top:70px ;
    border-radius: 10px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 105px;

}
.links a{
    color: white;
    text-decoration:none;
    margin-bottom: 15px;
}

button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin:20px auto 0px;
    border:unset;
    font-weight: bold;
}
.blue button{
    color: #478ac9;
}
.red button{
    color: #db545a;
}
.yellow button{
    color: #f1c50e;
}
.green button{
    color: #2cccc4;
}

.head{
    position: absolute;
    background-color: white;
    height: 120px;
    width: 160px;
    margin: 30px 0px 0px 20px ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.bcard{
    color: #478ac9; 
}
.rcard{
    color: #db545a;
}
.ycard{
    color:#f1c50e ;
}
.gcard{
    color:#2cccc4 ;
}
.head p{
    margin: 0px 0px;
}
.head p:first-child{
    font-weight:bold ;
}
.head p:nth-child(2){
    margin: 3px 0px;   
    font-size: 40px;
    font-weight:bold;
}
/* ---------end section of cards ---------- */
/* ---------start footer---------- */
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 30px 0px;
    background-color: #333333;
    text-align: center;
    color: white;

}

footer a{
    color: #adcce9;
}
/* ---------end footer---------- */


@media ( max-width: 991px){
    header{
        margin: 0px 150px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
    }
    footer{
        position:sticky;
    }

}
@media (min-width: 992px) and ( max-width: 1199px){
    header{
        margin: 0px 250px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
    }
    footer{
        position:sticky;
    }
}
@media (min-width: 1200px) and ( max-width: 1399px){
    header{
        margin: 0px 300px;
    }
    section{
        margin: auto;
        width:900px ;
        display: flex;
        flex-wrap: wrap;
    }

}
@media (min-width: 1400px){

}